@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    background-color: rgba(232, 232, 232, 0.25);
    height: 100%;
    margin: 0;
}

.heading {
    font-family: 'Pacifico', cursive;
}

.heading, .table-section {
    background-color: white;
}

.table-section {
    border-radius: 10px;
    width: 85%;
    margin: auto;
    overflow-x:auto;
}

.graph-card {
    width: 20%;
}

.warning-text {
  color: rgb(230, 0, 0);
}

@media only screen and (max-width: 425px) {
    .graph-section {
      flex-direction: column !important;
      align-items: center;
    }
  
    .graph-card {
      width: 70%;
    }

    .table-section {
      width: 95%;
      margin: auto;
    }

    .warn-div {
      width:85%;
      margin: auto;
    }

    .warning-text {
      font-size: 1rem !important;
    }

    .warn-img {
      width: 40px !important;
      height: 40px !important;
    }
  }

@media only screen and (min-width: 426px) and (max-width: 860px) {
    .graph-section {
      flex-direction: column !important;
      align-items: center;
    }
  
    .graph-card {
      width: 50%;
    }
  }